/* You can add global styles to this file, and also import other style files */
 svg#clouds {
     position: fixed;
     bottom: -160px;
     left: -230px;
     z-index: 10;
     width: 1920px;
 }
  .fondoweb {
      z-index: -100;
    
  }

  div#carouselExampleIndicators {
      filter: brightness(0.4);
  }
  nav#navbar.fixed-top.scrolled {
      background-color:#2f2f2f !important;
      transition: background-color 200ms linear;
  }