/* You can add global styles to this file, and also import other style files */

.navbar-toggler {
    background-color: var(--bs-white);
}

a.nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.navbar-brand {

    white-space: normal;
}

#yomirando {
    width: 75px;
    height: 75px;
    position: relative;
}

#yomirando2 {
    width: 50px;
    height: 50px;
    position: relative;
}

#yoflotando canvas {
    aspect-ratio: 1.33 / 1;
}

div#yoflotando {
    z-index: 1;
}

#bckgrdaynight {
    width: 30%;
    max-width: max-content;
}

#btndaynight {
    cursor: pointer;
    width: 8rem !important;
    transform: rotate(90deg) !important;
    z-index: 1000 !important;
}

header {
    line-height: 1;
}

#fondoweb {
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
}

#sliderimage img,
#sliderimage .text-muted,
#sliderimage h3 {
    filter: brightness(3);
}

#sliderimage {
    color: var(--bs-white);
}



// modo darks

.darkmode #sliderimage img {
    filter: brightness(1.5);
}

.darkmode {
    background-color: var(--bs-dark);
    color: var(--bs-white);
}

.darkmode #fondoweb {
    opacity: 0.2;
}

.darkmode .card {
    background-color: var(--bs-dark);
}

.darkmode .navbar-toggler {
    background-color: var(--bs-dark);
}

.darkmode .banner .text-muted {
    color: var(--bs-white) !important;
}

.form-check {
    cursor: pointer;
}

.darkmode footer,
.darkmode .bg-light {
    background: #1d1e32 !important;
}

.darkmode a {
    color: var(--bs-white) !important;
}

.darkmode .fondo {
    background: rgba(29, 30, 50, 0.57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(29, 30, 50, 0.3);
}


// termina modo oscuro

// flecha y navegacon carrousel
.carousel-indicators {
    bottom: -3rem;
}

.carousel-control-prev {
    left: -30px;
}

.carousel-control-next {
    right: -30px;
}

#myDIV img {
    height: 241.25px !important;
}


 @media screen and (max-width: 800px) {
    .carousel-control-prev {
        left: -40px;
    }

    .carousel-control-next {
        right: -40px;
    }

    #myDIV img {
        height: 447.5px !important;
    }
}

 @media screen and (max-width: 1075px) {

    .carousel-control-prev {
        left: -30px;
    }

    .carousel-control-next {
        right: -30px;
    }

    #myDIV img {
        height: 377.47px !important;
    }

}

 @media screen and (max-width: 1200px) {

    .carousel-control-prev {
        left: -40px;
    }

    .carousel-control-next {
        right: -40px;
    }

    #myDIV img {
        height: 452.5px !important;
    }

}

 @media screen and (max-width: 1575px) {
    #myDIV img {
        height: 527.5px !important;
    }

}

.fondo {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

 svg#clouds {
     position: fixed;
     bottom: -160px;
     left: -230px;
     z-index: -10;
     width: 1920px;
 }
  .fondoweb {
      position: fixed;
      z-index: -100;
  }